.sidebar {
  display: flex;
  flex: 0.25;
  flex-direction: column;
}
.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar_logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin-top: -25px;
  margin-left: 8px;
}
.sidebar_logout > button {
  color: rgb(241, 176, 176);
  padding: 10px;
  border-radius: 10px;
  border: lightgray;
  box-shadow: -1px 4px 20px -6px rgba(14, 2, 2, 0.5);
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin: 2vw;
  font-size: 24px !important;
}

.sidebar_chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}

.sidebar_chats::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar_header > h4 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
